ul.table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 600px;
    
  }

  li.style {
    color: black;
    font-size: 15px;
    border-style: solid;
    border: 1px solid whitesmoke;
    width: 100%;
    display: block;
    text-align: center;
    background-color:whitesmoke;
   
    
  }

  li.style:hover {
    background-color: lightgray;
  }

  li.style.clicked {background-color:red;}

