
.delete_links{
  background-color: #4286f490;
  color: #fff;
  font-size: 15px;
  height: 20px;
  width: 50%;
  border-radius: 5px;
  text-align: center;
  margin: 10px auto;
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  height: 40%;
}

.delete_links:hover {
  animation-name: searching;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  background-color: #3c76b8;
  width: 70%;
  height: 40%;
}

@keyframes searching {
  100% {
      transform: rotate(0deg) scaleX(1.4);
      box-shadow: 0px 0px 20px 2px white; 
  }
}

.section_class{
    padding: 10px;
    margin: 10px;
}

.div1{
    display: flex;
    flex-wrap:nowrap;
    background-color: whitesmoke;
}

.channel_saved{
    width: 250%;
}

.a_saved{
    color: black;
}

.li_saved {
    font-size: 15px;
    border: 1px solid whitesmoke;
    width: 40%;
    display: block;
    background-color:whitesmoke;
    padding: 10px;
   
    
  }


.li_saved:not(.checked):hover{
    animation-name: selecting;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
  }





  .title_saved {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }


  @keyframes selecting {
    0% {
      background-color: whitesmoke;
    }
    100% {
      background-color: rgb(141, 194, 255);
    }
  }
  
  